body,ul,li{
	margin:0px;
	padding:0px;
}

ul,ol {
	list-style-type:none;
}

a {
	text-decoration:none;
}

#main {
	width:100%;
}

#header-area {
	position:fixed;
	top:0px;
	width:100%;
	background-color:black;
	text-align:center;
}

#header {
	display:inline-block;
	width:1000px;
}

#header ul {
	display:inline-block;
	background-color:black;
}

.corner {
	display:inline-block;
	width:8px;
	height:8px;
	margin:21px 21px 0 0;
	background-color:red;
	vertical-align:top;
}

#header ul li {
	display:inline-block;
	padding-right:100px;
	color:white;
	background-color:black;
	line-height:50px;
}

#header ul li:nth-child(3) {
	padding-right:0px;
}

#content-area {
	width:100%;
	height:500px;
	margin-top:50px;
	padding-top:50px;
	background-color:white;
}

#content {
	width:40px;
	height:216px;
	margin-top:50px;
	margin-left:100px;
}

#content ul li {
	width:40px;
	height:40px;
	margin-top:4px;
	background-image:url('../images/bar.png');
}

#content ul li:nth-child(1) {
	background-position:-80px -280px;
}

#content ul li:nth-child(2) {
	background-position:0 -200px;
}
#content ul li:nth-child(3) {
	background-position:0 -240px;
}
#content ul li:nth-child(4) {
	background-position:0px -320px;
}
#content ul li:nth-child(5) {
	background-position:0 0;
}

#footer-area {
	
}

#footer {
	
}
