/* ---------- clean ---------- */
body, ul, li {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style-type: none;
}
a {
	text-decoration: none;
}
input {
	margin: 0;
	padding: 0;
	border-width: 0;
}
p {
	margin: 0;
}