body,ul,li,h3,p{
	margin:0;
	padding:0;
}

ul,ol {
	list-style-type:none;
}

a {
	color:#666;
	text-decoration:none;
}

#main {
	width:100%;
}

#header-area {
	position:fixed;
	top:0px;
	width:100%;
	background-color:black;
	text-align:center;
}

#header {
	display:inline-block;
	width:1000px;
}

#header ul {
	display:inline-block;
	background-color:black;
}

.corner {
	display:inline-block;
	width:8px;
	height:8px;
	margin:21px 21px 0 0;
	background-color:red;
	vertical-align:top;
}

#header ul li {
	display:inline-block;
	padding-right:100px;
	color:white;
	background-color:black;
	line-height:50px;
}

#header ul li:nth-child(3) {
	padding-right:0px;
}

#content-area {
	width:271px;
	height:341px;
	margin:100px auto;
	border:1px solid red;
	box-sizing:border-box;
	box-shadow:0 0 16px #000;
}

#content-bg {
	width:251px;
	height:189px;
	margin:10px auto 10px;
	background-image:url('../images/pic.png');
}

#content-info {
	margin:10px auto auto 10px;
}

#title {
	line-height:24px;
	font-size:14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#category {
	line-height:32px;
	font-size:12px;
	color:#666;
}

#upload-time {
	line-height:18px;
	font-size:12px;
}

#infomation li {
	display:inline-block;
	padding-right:16px;
	line-height:32px;
	font-size:12px;
}

span {
	color:red;
}

#pink {
	font-weight:bold;
	color:deeppink;
}

#play {
	width:12px;
	height:13px;
	background-image:url('../images/play.png');
}

#footer-area {
	
}

#footer {
	
}
